/*
 * This file is provided for application-specific style rules.
 */
html,body {
	height: 100%;
	width: 100%;
        background-color: #d3d9df;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background:#aaa;
    z-index:9999;
    vertical-align: middle;
}
#loadingDialog {
    width: 80px;
    height: 80px;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
}

#preloaderContent {
    width:300px;
    height:250px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -125px;
    font-size: medium;
    font-weight: bold;
    font-family: Courier;
    text-align: center;
    border: 2px solid #fff;
    color:  #F0F0F0;
    padding: 25px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#siteTitle {
    position: absolute;
    text-align: center;
    padding:5px;
    background-image: url("../data/images/title_tab.png");
    background-repeat: no-repeat;
    width: 275px;
    height: 35px;
    left: 50%;
    top: 0px;
    margin:0px 0 0 -137px;
    color:  #F0F0F0;
    font-size: 14pt;
    font-weight: bold;
    font-family: Helvetica;
}

.gridx { 
    height: 90%;
    width: 100%;
}

.siteGridButton{
    background-image: url("../data/images/find-small.png");
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    padding: 1px;
}

.button, .button:visited {
    background: #2575CF url(overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}

#map-ui {
  position:absolute;
  bottom:10px;left:10px;
  list-style:none;
  margin:0;padding:0;
  z-index:100;
  }
#map-ui a {
  font:normal 10px/12px 'Helvetica Neue',Helvetica,sans-serif;
  background:#FFF;
  color:#3C4E5A;
  display:block;
  margin:0;padding:0;
  border:1px solid #BBB;
  border-bottom-width:0;
  min-width:75px;
  padding:5px;
  text-decoration:none;
  }
#map-ui a:hover { background:#ECF5FA; }
#map-ui li:last-child a {
  border-bottom-width:1px;
  -webkit-border-radius:0 0 3px 3px;
          border-radius:0 0 3px 3px;
  }
#map-ui li:first-child a {
  -webkit-border-radius:3px 3px 0 0;
          border-radius:3px 3px 0 0;
        }
#map-ui a.active {
  background:#3887BE;
  border-color:#3887BE;
  border-top-color:#FFF;
  color:#FFF;
  }

.tab_dataTable {
    border-collapse:collapse;
}

.tab_dataTable tbody td {
    vertical-align: middle;
    padding: 5px;
}

.tab_dataTable tbody tr:nth-child(odd) {
    background: #CCE0F5;
}

.tab_dataTable tbody tr:nth-child(even) {
    background: #FFF;
}

tr.query > td{
  padding-bottom: 0.7em;
}

.variable_data
{
	font-size: 0.8em;
	margin: 5px;
	width: 98%;
	text-align: left;
	border-collapse: collapse;
}

.variable_data th
{
	padding: 8px;
	font-weight: normal;
	font-size: 1.1em;
	background: #C8C8C8;
}
.variable_data td
{
	padding: 8px;
	background: #ccffcc;
	border-top: 1px solid #fff;
	color: #669;
}

.variable_data tbody tr:hover td
{
	background: #d0dafd;
}


div.refreshMapControl {
    height: 39px;
    width: 39px;
    padding-right: -2px;
    background-repeat: no-repeat;
    background-image: url("../data/images/refresh_button.png");
}

a:focus {
outline: none;
}
a.trigger{
	position: relative;
	background:#59B url(../lib/jqEasySlidePanel/images/plus.png) 6% 55% no-repeat;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding:10px 12px 6px 24px;
	font-weight: bold;
	z-index:2;
}
a.trigger.left {
	left: 5;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
a.trigger.right {
	right: 0;
        width: 65px;
        border: groove;
        border-width:2px;
        border-color: gray;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
a.trigger:hover {
	background-color:#88bbd4;
}
a.active.trigger {
	background:#666 url(../lib/jqEasySlidePanel/images/minus.png) 6% 55% no-repeat;
}
.panel {
	color:#CCC;
	position: relative;
	display: none;
	background: #000000;
	width: 350px;
	z-index:1;
}
.panel.left {
	left: 0;
	padding: 20px 30px 20px 100px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.panel.right {
	right: 0;
	padding: 20px 100px 20px 30px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-left-radius: 15px;
}
.panel p {
	font-size:11px;
}

.infoPanel_icon{
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}