<div style="padding: 10px";>
    <p>Use this tab to load data to EPA STORET via the Central Data Exchange. All uploaded data originating in this watershed
    will be available to explore and retrieve from WQCourier as soon as it is archived in STORET. (Note: metadata available in WQCourier is
    updated weekly, thus site details information may not immediately reflect data upload activities. However data queries
    from WQCourier will retrieve all available information from the STORET and NWIS systems, regardless of the currency of the metadata
    returned to the user by WQCourier). You must have a registered user ID before you are able to upload data with Central Data Exchange.</p>
</div>