<div style="padding: 10px";>
    <p>Browse the grid for discharge facilities of interest and review summary information. Sort the grid by clicking the header bar of the column you want sorted.
    Double click on a row to retrieve more detailed information about a site. </p>
    <hr>
    <p><img src="data/images/sites_tabs.png" class="infoPanel_icon"/> Navigate between facility detail information and the discharge facilities grid using
    the tab containers.</p>
    <hr>
    <p><img src="data/images/filter_button.png" class="infoPanel_icon"/> Click the filter button at the top of the grid to apply simple
    filter rules to information displayed in the grid columns.</p>
    <hr>
</div>