<div style="padding: 10px";>
    <p><img src="data/images/zoom_control.png" class="infoPanel_icon"/>Use the map controls to pan, zoom, or refresh the map window.</p>
    <hr>
    <p><img src="data/images/layer_switcher.png" class="infoPanel_icon"/> Toggle map layers on or off using the layer selector.</p>
    <hr>
    <p><img src="data/images/search_control.png" class="infoPanel_icon"/>Find water quality monitoring stations by name using the search control</p>
    <hr>
    <p><img src="data/images/wq_station_marker.png" class="infoPanel_icon"/>Click on map icons to display popup windows containing summary information. Click the "Show More Information"
    button to view details about the location.</p>
    <hr>
    <p><img src="data/images/bbox_control.png" class="infoPanel_icon"/>Retrieve data from one or more water quality monitoring stations by defining a bounding box on the map.
    Use your cursor to resize the bounding box to include only the sites of interest.</p>
</div>